body{
  background: #000;
  color: #fff;
  margin: 0;
  font-size: 16px;
}
/*Index Page*/
.index{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.index img{
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}
/*Nav Component*/
.nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(219, 27, 96);
  height: 40px;
  margin: 0;
}
.nav .link{
  margin: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}
.nav .link:hover{
  color: rgb(248, 255, 108);
}
.logout{
  position: absolute;
  right: 20px;
  top: 0;
}
/*Login Page*/
.login{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-top: 100px;
}
.login form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.login label{
  display: block;
  margin-left: 20px;
}
.login input{
  margin: 10px 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 26px;
  width: 200px;
  font-size: 1.1rem;
  padding-left: 5px;
}
.login input::-webkit-input-placeholder{
  font-size: .9rem;
}
.login input::-moz-placeholder { /* Firefox 19+ */
  font-size: .9rem;
}
.login input:-ms-input-placeholder { /* IE 10+ */
  font-size: .9rem;
}
.login input:-moz-placeholder { /* Firefox 18- */
  font-size: .9rem;
}
.login button{
  margin: 5px 20px;
  background: rgb(4, 101, 203);
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 36px;
  font-size: 1.2rem;
}
.login button:hover{
  background: rgb(0, 124, 255);
}
/*Dashboard Page*/
.dashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.dashboard *{
  max-width: 600px;
  align-self: center;
}
.dashboard textarea{
  width: 400px;
}
.dashboard .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.dashboard button{
  margin: 20px 10px;
  border: none;
  background: rgb(0, 101, 158);
  color: #fff;
  border-radius: 3px;
  height: 26px;
  width: 90px;
  font-size: 1.1rem;
}
#load-more{
  width: 120px;
  margin-bottom: 40px;
}
.post{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 20px 0;
  border-bottom: 1px solid rgba(224, 212, 255, .5);
}
.post p{
  width: 400px;
}
.post img{
  width: 400px;
}
@media (max-width: 500px) {
  /*Nav component*/
  .nav .link{
    margin: 10px 0px 10px 10px;
  }
  .logout{
    position: absolute;
    right: 10px;
    top: 0;
  }
  /*Index page*/
  .index{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index img{
    object-fit: cover;
    width: 90vw;
    height: 90vw;
  }
  /*Login Page*/
  .login{
    margin-top: 50px;
  }
  /*Dashboard page*/
  .dashboard *{
    max-width: 90vw;
  }
}
