body {
  background: #000;
  color: #fff;
  margin: 0;
  font-size: 16px;
}

/*Index Page*/

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 6px;
  }
}

/*Nav Component*/

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(219, 27, 96);
  height: 40px;
  margin: 0;
  .link {
    margin: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    &:hover {
      color: rgb(248, 255, 108);
    }
  }
}

.logout {
  position: absolute;
  right: 20px;
  top: 0;
}

/*Login Page*/

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-top: 100px;
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  label {
    display: block;
    margin-left: 20px;
  }
  input {
    margin: 10px 20px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 26px;
    width: 200px;
    font-size: 1.1rem;
    padding-left: 5px;
    &::-webkit-input-placeholder {
      font-size: .9rem;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      font-size: .9rem;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      font-size: .9rem;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      font-size: .9rem;
    }
  }
  button {
    margin: 5px 20px;
    background: rgb(4, 101, 203);
    color: #fff;
    border-radius: 3px;
    border: none;
    height: 36px;
    font-size: 1.2rem;
    &:hover {
      background: rgb(0, 124, 255);
    }
  }
}

/*Dashboard Page*/

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  * {
    max-width: 600px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  textarea {
    width: 400px;
    height: 22px;
    padding-top: 6px;
    resize: none;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  button {
    margin: 20px 10px;
    border: none;
    background: rgb(0, 101, 158);
    color: #fff;
    border-radius: 3px;
    height: 26px;
    width: 90px;
    font-size: 1.1rem;
    &:hover {
      background: rgb(33, 143, 205);
    }
  }
}

#load-more {
  width: 120px;
  margin-bottom: 40px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 20px 0;
  border-bottom: 1px solid rgba(224, 212, 255, 0.5);
  p, img {
    width: 400px;
  }
  p{
    text-align: justify;
  }
}

// Details page

.details{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  img, p, form{
    width: 500px;
  }
  p{
    text-align: justify;
  }

  form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    textarea{
      width: 400px;
      margin-right: 20px;
      resize: none;
      padding: 10px 0 0 5px;

      // &::-webkit-input-placeholder {
      //   padding-top: 6px;
      // }

      // &:-ms-input-placeholder {
      //   padding-top: 6px;
      // }

      // &::placeholder {
      //   padding-top: 6px;
      // }
    }
    button{
      width: 80px;
      border: none;
      border-radius: 3px;
      background: rgb(52, 141, 215);
      color: #fff;
      font-size: 1.1rem;

      &:hover{
        background: rgb(14, 102, 175);
      }
    }
  }
}

/*NotFound page*/

.notfound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20%;
  .link {
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
    background: rgba(3, 86, 139, 0.81);
  }
}

@media (max-width: 500px) {
  /*Nav component*/
  .nav .link {
    margin: 10px 0px 10px 10px;
  }
  .logout {
    position: absolute;
    right: 10px;
    top: 0;
  }
  /*Index page*/
  .index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 90vw;
      height: 90vw;
    }
  }
  /*Login Page*/
  .login {
    margin-top: 50px;
  }
  /*Dashboard page*/
  .dashboard * {
    max-width: 90vw;
  }

  // Details page
  .details {
    *{
      max-width: 90vw;
    }
  }
}
